NUXT_PUBLIC_CV_STORAGE_DRIVER=mysql

CV_DATABASE_HOST=127.0.0.1
CV_DATABASE_PORT=3306
CV_DATABASE_NAME=your_database_name
CV_DATABASE_USER=your_database_user
CV_DATABASE_PASSWORD=your_database_password
